<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSLiveBox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC89F09D1D7D47F700F0A2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC89F0B61D7D47F700F0A2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC89F0C11D7D47F700F0A2B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
